<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.5.0" targetFramework="net46" requireReinstallation="true" />
  <package id="System.ServiceModel.NetTcp" version="4.5.3" targetFramework="net461" />
  <package id="System.ServiceModel.Primitives" version="4.5.3" targetFramework="net461" />
</packages>